$primary-red: #FA4043;
$board-bg: #F4F8FB;

html,body {
  width: 100%;
  background-color: $board-bg !important;
}

.timeline {
  background-color: $primary-red;
  height: 100px;
  width: 100%;
  text-align: center;

  p {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em;
    line-height: 100px;
  }
}

.post {
  background-color: white;
  width: 100%;
  text-align: center;
}