$primary-red: #FA4043;
$board-bg: #F4F8FB;
$gap: 25px;

html,body {
  width: 100%;
  background-color: $board-bg !important;
}

.timeline {
  background-color: $primary-red;
  height: 100px;
  width: 100%;
  text-align: center;
  margin-bottom: $gap;
  position: relative;

  p {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em;
    line-height: 100px;
  }

  select {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 20%;
  }
}

.post {
  background-color: white;
  width: 100%;
  text-align: center;
  margin-bottom: $gap;

  &-header, &-body {
    padding: $gap $gap 0;
    width: 100%;
  }

  // post-header styling
  &-header > table {
    margin-bottom: 0 !important;
  }
  &-header > table > tbody > tr > td{
    border-top: none !important;
  }
  &-header > table tr:nth-child(1) > td:nth-child(1) {
    //background-color: $primary-red;
    //color: white;
    width: 55px !important;
    height: 55px !important;
    //border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 36px;
  }

  div.circle {
    background-color: $primary-red;
    color: white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
  }

  &-header > table tr:nth-child(1) > td:nth-child(2),
  &-header > table tr:nth-child(2) > td:nth-child(1)
  {
    padding-left: 15px;
    text-align: left;
  }

  &-header > table tr:nth-child(2) > td:nth-child(2),
  &-header > table tr:nth-child(1) > td:nth-child(3)
  {
    padding-right: 15px;
    text-align: right;
  }

  &-header > table tr:nth-child(1) > td:nth-child(2) {
    font-size: 16px;
    color: #002134;
    vertical-align: middle;
  }

  &-header > table tr:nth-child(2) {
    font-size: 14px;
    color: #768b9c;
    vertical-align: middle;
  }

  @media screen and (max-width: 768px) {
    &-header > table {
      border: none !important;
    }
  }

  // post-body styling
  &-body {

    div {
      width: 100%;
      max-height: 355px;
      border-radius: 5px;
      overflow: hidden;
    }

    div img {
      width: 100%;
    }

    p {
      margin-top: 15px;
      font-size: 16px;
      line-height: 20px;
      text-align: left;
      color: #586d7e;
    }
  }

  &:hover {
    background-color: $primary-red * 0.85;
    b,p,td{
      color: #F8F9C2;
    }

    .circle {
      background-color: white;
      b {
        color: $primary-red * 0.85;
      }
    }
  }
}

a#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 25px;
  overflow: hidden;
  width: 32px;
  height: 32px;
  border: none;
  text-indent: 100%;
  background: url('../../img/top-arrow.png') no-repeat;
}